# Don't follow compiled files

src/*.mod
src/*.o
les.mpi*
les.seq

util/


bin/NAMELIST
bin/sound_in

sound_in*

*.pyc
*.zip

############################
# Jaakko's auxialiry files #
############################

# campaign inputs
bin/case_ascos/
bin/case_isdac/
bin/case_sheba/
bin/case_speed/
bin/case_emulator/



#history run
bin/0000_0000.SPINUP7200.rst

# git trees
gitpuut/

# emulator design
designs/

#emulator output from runs
script/emulatoroutput

# emulator input generating output
script/emulator_output

## remove this later
src/src_LES/stat_icesnow.f90

# Makefiles
Makefile_Jaakko_karsittu

bineja.ods

# some old files
script/vanhaa_settii/


script/plt
script/sys
