# Don't follow compiled files

src/*.mod
src/*.o
bin/les.mpi
bin/les.seq

util/

bin/NAMELIST
bin/sound_in

script/ModDataPros.pyc

############################
# Jaakko's auxialiry files #
############################

# campaign inputs
bin/case_ascos/
bin/case_isdac/
bin/case_sheba/
bin/case_speed/

#history run
bin/0000_0000.SPINUP7200.rst

# git trees
gitpuut/



## remove this later
src/src_LES/stat_icesnow.f90

# Makefiles
Makefile_Jaakko_karsittu

bineja.ods

# some old files
script/vanhaa_settii/
