# Don't follow compiled files

src/*.mod
src/*.o
les.mpi*
les.seq*
*.orig
util/


bin/NAMELIST
bin/sound_in

sound_in*

*.pyc
*.zip

############################
# Jaakko's auxialiry files #
############################

# campaign inputs
case_*

script/ajakaksiajoa.bash

dict/

#history runs
bin/0000_0000.SPINUP7200.rst
bin/00*_00*.*

# git trees
gitpuut/

# emulator design
designs/

#emulator output from runs
script/emulatoroutput*

# emulator input generating output
script/emulator_output*

# checking up design variables & constraints
script/design_checkup_*

## remove this later
src/src_LES/stat_icesnow.f90

# Makefiles
Makefile_Jaakko_karsittu
Makefile_intel_DivideByZeroAllowed

bineja.ods

# some old files
script/vanhaa_settii/
script/testi.bash

script/plt
script/sys

case_emulator_week7/
src/ice_immers_nucl_Jaakko.f90
script/cloud_thickness_test.py
script/nodelog
script/qstatlogi
